*{
    justify-content: center;
}

.bookList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    font-size: 22px;
    margin-right: 2.5vmin;
}

.bookList-item {
    background: darkslategray;
    padding: 10px;
    padding-top: 5px;
    margin: 10px;
    border-radius: 5%;
    width: 45%;
}

.link {
    color: whitesmoke;

}
